<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show pictures Two</title>
  <link rel="stylesheet" href="/styles/style3.css">
</head>

<body>
  <figure class="photo-container">
    <img class="photo" src="/static/DCnpfBy.jpeg" alt="Picture One">
    <figcaption class="description">A mountain located in a province South Sinai at Egypt; It is 2285 meters above sea
      level. It was called Mount Musa For the Prophet Moses His Lord spoke to him on this mountain and received The Ten
      Commandments According to religions Judaism
      Mount Moses is one of the most famous mountains of Sinai, as thousands of tourists visit it. The beholder from the
      top of the mountain is able to see beautiful scenes of the surrounding mountain range, especially in my two
      periods Sunrise the sun And sunset, Is located near Mount Catherine (Mount Tor Sinai), And in which it is located
      St. Catherine MonasteryA group of mountain peaks surrounds the mountain South Sinai.
    </figcaption>
  </figure>

</body>

</html>