<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show pictures one</title>
  <link rel="stylesheet" href="/styles/style2.css">
</head>

<body>
  <figure class="photo-container">
    <img class="photo" src="/static/200505225212-04-fossils-and-climate-change-museum.jpg" alt="Picture One">
    <figcaption class="description">Locates Whale Valley Inside a reserve Al-Rayyan Valley Which covers an area of 1759
      km Fayoum
      Governorate 150 km from Cairo Egypt. In the Whale Valley, 10 complete whale structures were found that lived in
      that area about 40 million years ago, as they were part of a large ocean that included North Africa. And in the
      year 2005 AD The Whale Valley region was classified as a world heritage region and was chosen by UNESCO as the
      best World Heritage Area for whale skeletons.
    </figcaption>
  </figure>

</body>

</html>